@page
@model HistoriqueEmpruntModel
@{
    ViewData["Title"] = "Historique des emprunts";
}

  <header class="bg-white border-b">
        <div class="container mx-auto px-4">
            <!-- Main Header -->
            <div class="flex justify-between items-center py-4">
                <nav class="flex space-x-6">
                    <a asp-page="/Users/Login" class="hover:text-blue-600">
                        Disponible
                    </a>
                    <a asp-page="/Home/HistoriqueEmprunt" class="hover:text-blue-600">
                        Historique
                    </a>
                    <a asp-page="./HistoriqueEmprunt"
                        asp-page-handler="GetPdfCarteAsync">
                          Cart Membre
                     </a>
                </nav>
            </div>
        </div>
    </header>
<div class="max-w-6xl mx-auto px-6 py-10">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">
        📚 Historique de vos emprunts
    </h1>

    @if (!Model.Emprunts.Any())
    {
        <div class="bg-yellow-100 text-yellow-800 p-4 rounded-lg">
            Aucun emprunt trouvé.
        </div>
    }
    else
    {
        <div class="bg-white shadow rounded-lg overflow-hidden">
            <table class="min-w-full text-sm">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-3 text-left">#</th>
                        <th class="px-4 py-3 text-left">Nom du Livre</th>
                        <th class="px-4 py-3 text-left">Auteur</th>
                        <th class="px-4 py-3 text-left">Genre</th>
                        <th class="px-4 py-3 text-left">Date Emprunt</th>
                        <th class="px-4 py-3 text-left">Date Limite</th>
                        <th class="px-4 py-3 text-left">Retour</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var livre in  Model.Emprunts)
                    {
                        <tr class="border-b hover:bg-gray-50">
                            <td class="px-4 py-2">
                                <img src="@livre.LivrePhoto"
                                alt="@livre.LivreNom"
                                class="w-32 h-40 object-cover" />
                            </td>
                            <td class="px-4 py-2">@livre.LivreNom</td>
                            <td class="px-4 py-2">@livre.AuteurNom</td>
                            <td class="px-4 py-2">@livre.GenreNom</td>
                            <td class="px-4 py-2">@livre.DateEmprunt?.ToString("yyyy-MM-dd")</td>
                            <td class="px-4 py-2">@livre.DateLimite?.ToString("yyyy-MM-dd")</td>
                            <td class="px-4 py-2">@livre.DateRetourDeLivre?.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
